.navbar{
    display:flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:20px;
    font-size: larger;
    font-weight: bolder;
    color:white;
    background-color: maroon;
}

.navbar > Link{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logout-btn{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
